<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Lookup Application</title>
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/api/lookupApplication/index">Lookup Application</a>
        <label class="navbar-brand navbar-brand-dark w-100" label="Hello">Hello </label><span th:text="${#authentication.name}"></span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <form th:action="@{/api/lookupApplication/logout}" method="post">
                    <button type="submit">Sign out</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" href="/api/lookupApplication/admin/users">
                                List all Users
                            </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" href="/api/lookupApplication/admin/addUser">
                                Create new User
                            </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" href=#>
                                Phone book
                            </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-sm">
                <h2>Phone Book</h2>
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone number</th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr th:each="phoneBook : ${phoneBookList}">
                                <td th:text="${phoneBook.getName()}" ></td>
                                <td th:text="${phoneBook.getPhoneNumber()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>